body {
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.5em;
  margin: 20px 40px;
}
h1 {
  border-top: solid 2px black;
  line-height: 1.5em;
  margin-top: 4em;
  padding-top: 4em;
}
h1.title:first-child {
  border-top: none;
}
.title {
  text-align: center;
}
.toc {
  list-style-type: none;
}
a {
  font: inherit;
}
blockquote {
  background: #f8f8f8;
  border-left: solid thick #666;
  border-right: solid thick #666;
  margin-left: 0;
  margin-right: 0;
  padding: 10px 40px;
}
pre, li code, p code {
  font-family: monospace;
  font-size: 14px;
}
pre {
  background: #f8f8f8;
  border: solid thin #666;
  line-height: 120%;
  padding: 10px;
}
li code, p code {
  padding: 2px 5px;
}
table {
  border: solid thin #999;
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  border: solid thin #ccc;
  padding: 5px 10px 0px;
}
td.left {
  text-align: left;
}
td.center {
  text-align: center;
}
td.right {
  text-align: right;
}
th {
  background: #ccc;
  border: none;
  border-bottom: solid thin #999;
  padding: 1px 5px;
  text-align: center;
}

@page {
  margin: 72pt 54pt;
  @top-center { content: "How to Use the Internet Printing Protocol" }
  @bottom-left { content: "Copyright © 2017-2018 by The Printer Working Group"; }
  @bottom-right { content: "Page " counter(page) " of " counter(pages); }
}

@media print {
  body {
    margin: 0;
  }

  h1 {
    border-top: none;
    margin-top: 0;
    padding-top: 0;
    page-break-before: left;
  }
  h1.title:first-child {
    padding-top: 10em;
    page-break-before: avoid;
  }
  p {
    orphans: 1;
  }
  pre {
    page-break-inside: avoid;
    white-space: pre-wrap;
  }
}
